.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  -webkit-appearance: none;
  font-size: 20px;
  padding: 10px;
}
.post {
  padding-bottom: 5px;
}
.postImage {
  width: 100%;
}
.masonry {
  gap: 2px !important;
  & > div {
    gap: 2px !important;
  }
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: darkslategray;
}
